section.thwbt-wrapper .thwbt-content{
display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

section.thwbt-wrapper .thwbt-content .thwbt-content-one{
width:66%;
display: inline-flex;
padding: 1rem 0;
flex-wrap: wrap;
}
section.thwbt-wrapper .thwbt-content .thwbt-content-two{
width:34%;
padding: 1rem 0;
}

section.thwbt-wrapper .thwbt-content .thwbt-content-one > div {
padding: 0.5rem;
width: 33.33%;

}

.thwbt-product-list{
padding: 0.5rem 2rem; 
}

.thwbt-product.thwbt-inactive{
opacity:0.5;
}

.thwbt-product.thwbt-inactive .image{
position:relative;
}

.thwbt-product.thwbt-inactive .image:after{
    content:'+';
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    top: 45%;
    font-size:22px;
    text-align:center;
}
.thwbt-product h4{
margin-bottom:0.2rem;
font-size:0.87rem;
line-height:1.2;
}

.thwbt-product .image{
margin-bottom:0.7rem;
}
.thwbt-product-list-add label{
    font-size: 0.89rem;
    margin-bottom: 0.5rem;
    display: block;
}

.thwbt-product-list-add label input[type=checkbox]{
    margin-right:5px ;
    line-height: normal;
}
.thwbt-products .total-price-wrapper{

 margin:1.5rem 0;

}

.thwbt-products .total-price-wrapper .total-price{
font-size:1.3rem;
margin-bottom:0.5rem;
}

.thwbt-products .total-price-wrapper .total-order{
font-size:0.89rem;
margin-bottom:0.5rem;
}
.thwbt-add-button-form button.thwbt-add-button{
margin:0.5rem 0;
letter-spacing:0.7px;
}

.woocommerce button.button.loading.thwbt-add-button::after {
    font-family: WooCommerce;
    content: "\e01c";
    vertical-align: top;
    font-weight: 400;
    position:static;
    top: 0.618em;
    right: 1em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 0.5rem;
}

.thwbt-add-button-form{
    display: flex;
    align-items: center;
}

.variations_form .variations.thwbt-variation .variation {
    display: inline-block;
    border-style: solid;
    border-color: #e5e5e5;
    padding:0;
    margin:0.5rem 0 0 0;
    max-width: 100%;
    border-radius: 2px;
}
.variations.thwbt-variation .variation select {
    width: 100%;
    max-width:150px;
    padding:6px;
    color: #888;
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 1.5em;
    font-size: 14px;
}

.variations.thwbt-variation .reset_variations {
margin-top: 5px;
display: block;
}

.thwbt-product-wrap .thwbt-products .thwbt-product-price span.price{
font-size:14px;
color:#111;
font-weight:normal;
}